<nav>
    <a class="nav-logo-link" href="/">
      <h4 class="nav-logo">Catalyst</h4>
    </a>
    <div class = "nav-links">
        <a class = "link-one" href="/myListings">
            <h3 class="nav-text">MY CONTRIBUTIONS</h3>
        </a>
        <a class = "link-two" href="https://docs.google.com/forms/d/e/1FAIpQLSerBpbmTA13cdAxJ8AnrV_cN_Qt1Hztob6y1MieDjrk5yvGZA/viewform?usp=header">
            <h3 class="nav-text">SUGGESTIONS</h3>
        </a>
        <a class = "link-three" href="/">
            <h3 class="nav-text">ABOUT</h3>
        </a>
        <a class = "link-four" href="/">
            <h3 class="nav-text">HOME</h3>
        </a>
    </div>
</nav>
  