<div class="future-text">
    <h2>Upcoming Features</h2>
</div>
    <section class="features-box">
        <div class="box">
            <img class="db-img" src="/upcoming/dashboard.png" />
            <span>
                The visualized dashboard will display platform progress through interactive graphs and charts, 
                showcasing user growth, petition activity, and other key metrics. It enables real-time insights, 
                data filtering, and comparative analysis to enhance engagement and decision-making.
            </span>
            <h4>Visualized Dashboard of Platform</h4>
        </div>
        <div class="box">
            <img class="acc-img" src="/upcoming/account.png" />
            <span>
                Enhanced login features include "Forgot Password" functionality for secure password resets 
                and Google Login APIs for seamless single sign-on. These additions improve user convenience, 
                accessibility, and security, fostering a better overall user experience.
            </span>
            <h4>More Account Login/Creation Features</h4>
        </div>
    </section>